@font-face {
  font-family: RobotoLight; /* Имя шрифта */
  src: url(../../fonts/RobotoLight.ttf); /* Путь к файлу со шрифтом */
 }

.navigationContainer {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  background-color: rgb(27,29,40);
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

img {
  width: 240px;
  height: auto;
}

.menuSection {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  
  .menuPoint {
    display: flex;
    color: rgb(183,183,185);
    span {
      margin-left: 14px;
    }
    .menuName {
      font-size: 18px;
      font-family: RobotoLight;
      font-weight: 600;
      line-height: 32px;
      margin: 0 7px;
    }
  }

  .menuPoint:hover  {
    color: aliceblue;
  }
}

.littleMenu {
  padding: 0 25px;
  border-left: 6px solid rgb(164,203,158);
  background-color: rgb(22, 23, 29);
  span {
    font-size: 18px;
  }
  .menuName {
    margin-bottom: 5px;
  }
}

// .littleMenuClose {
//   display: none;
//   padding: 0 31px;
//   span {
//     font-size: 18px;
//   }
//   .menuName {
//     margin-bottom: 5px;
//   }
// }
