@font-face {
  font-family: RobotoLight; /* Имя шрифта */
  src: url(../../fonts/RobotoLight.ttf); /* Путь к файлу со шрифтом */
 }

.navigationContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100vh;
    background-color: rgb(27,29,40);
}

.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

img {
    width: 240px;
    height: auto;
}

.menuSection {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-top: 50px;
  // a {
  //   height: 100%;
  // }
  .menuPoint {
    display: flex;
    color: rgb(183,183,185);
    // margin-bottom: 35px;
    i {
      font-size: 30px;
    }
    span {
      margin-left: 0px;
    }
    .menuName {
      font-size: 18px;
      font-family: RobotoLight;
      font-weight: 600;
      line-height: 32px;
      margin: 0 7px;
    }
    
  }

  .menuPoint:hover  {
    color: aliceblue;
  }
  
}

.littleMenu {
  // display: block;
  margin: 0 31px;
  span {
    font-size: 18px;
  }
  .menuName {
    margin-bottom: 5px;
  }
}

.littleMenuClose {
  display: none;
  margin: 0 31px;
  span {
    font-size: 18px;
  }
  .menuName {
    margin-bottom: 5px;
  }
}
