.statPageContainer {
  display: flex;
  flex-direction: column;
  // overflow: scroll;
  // position: relative;
  height: 100%;
  // width: calc(100% - 500px);
  .statPageCardCont {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px);
    // width: 1580px;
    margin: 30px;
    .statPageCard {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 250px;
      height: 170px;
      // color: ;
      background-color: #eee;
      box-shadow: 0 0 12px rgba(0,0,0,0.5);
      border-radius: 8px;
      padding: 16px 0 16px 16px;
      .statPageCardLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        margin-right: 16px;
        :last-child {
          padding-top: 5px;
          font-weight: 400;
          font-size: 22px;
        }
      }
      .statPageCardRight {
        font-size: 44px;
        color: gray;
        padding-right: 6px;
        span {
          margin-left: 0px;
          padding: 0;
        }
      }
    }
  }
  .chartRegion {
    display: flex;
    justify-content: space-between;
  }
}

// img {
//   width: 80vw;
// }
.table_png {
  width: 82vw;
}

.tableRegion {
  padding: 0 30px 20px 30px;
  width: 96%;
  // width: 1580px;
  table {
    tr {
      td {
        font-size: 14px;
      }
      th {
        font-size: 14px;
        // word-wrap: break-word;
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  width: 500px;
  padding: 10px;
  display: none;
  position: absolute;
  // right: -150px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  .contentTitle {
    text-align: center;
    margin: 20px 0px;
  }
}

.list_item {
  padding: 10px;
  font-size: 18px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdownContent {display: block;}