.modalContainer {
  position: absolute;
  top: 30vh;
  left: 40vw;
  display: flex;
  width: 30%;
  height: 25%;
  z-index: 1000;
  text-align: center;
  background-color: lightgray;
  // color: wheat;
  .modalHeader {
    width: 100%;
    height: 30px;
    padding-right: 5px;
    text-align: end;
    font-size: 24px;
    // background-color: grey;
  }
}