.switcherContainer {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 280px);
  height: 100vh;
  background-color: white;
  border-radius: 8px;
  .switcherHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    margin: 20px;
    height: 50px;
  }
  .switcherMain {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 20px 20px;
    table {
      width: 100%;
      border: 1px solid lightgrey;
      tr {
        th {
          text-align: center;
          height: 40px;
          background-color: #eee;
        }
        td {
          text-align: center;
          height: 30px;
          padding: 8px;
          background-color: #eee;
        }
      }
      
    }
    .switcherAction {
      width: 92%;
      height: 100%;
      border-radius: 4px;
      background-color: #eee;
    }
    .switcherActionNav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      width: 8%;
      height: 16%;
    }
  }
}

.switcherPoint {
  padding: 7px 0;
  width: 110px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #eee;
  cursor: url(middle-finger-little.png), pointer; //TODO: delete cursor
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
  div {
    text-align: center;
    width: 16%;
  }
  :first-child {
    text-align: center;
    width: 4%;
  }
  :nth-child(2) {
    text-align: center;
    width: 25%;
  }
  :nth-child(3) {
    text-align: center;
    width: 25%;
  }
  :last-child{
    text-align: center;
    width: 7%;
  }
  :nth-child(6) {
    text-align: center;
    width: 7%;
  }
}

.tableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content:;
  width: 100%;
  height: 50px;
  background-color: #eee;
  border-bottom: 1px solid lightgrey;
  div {
    // text-align: start;
    // justify-self:self-start;
    text-align: center;
    width: 16%;
  }
  :first-child {
    text-align: center;
    width: 4%;
  }
  :nth-child(2) {
    text-align: center;
    width: 25%;
  }
  :nth-child(3) {
    text-align: center;
    width: 25%;
  }
  :last-child{
    text-align: center;
    width: 7%;
  }
  :nth-child(6) {
    text-align: center;
    width: 7%;
  }
}

// .switcherPoint:nth-child(1) {
//   background-color: lightgray;
//   border-bottom: 1px solid lightgray;
//   border-right: 1px solid lightslategray;
// }

// .switcherPoint:nth-child(2) {
//   border-bottom: 1px solid lightslategray;
//   border-right: 1px solid lightslategray;
// }

// .switcherPoint:nth-child(3) {
//   border-bottom: 1px solid lightslategray;
//   // border-right: 1px solid lightslategray;
// }