.switcherContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - 280px);
  height: 100vh;
  background-color: white;
  border-radius: 8px;
}

.switcherContainer .switcherHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22%;
  margin: 20px;
  height: 50px;
}

.switcherContainer .switcherMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 0 20px 20px;
}

.switcherContainer .switcherMain table {
  width: 100%;
  border: 1px solid lightgrey;
}

.switcherContainer .switcherMain table tr th {
  text-align: center;
  height: 40px;
  background-color: #eee;
}

.switcherContainer .switcherMain table tr td {
  text-align: center;
  height: 30px;
  padding: 8px;
  background-color: #eee;
}

.switcherContainer .switcherMain .switcherAction {
  width: 92%;
  height: 100%;
  border-radius: 4px;
  background-color: #eee;
}

.switcherContainer .switcherMain .switcherActionNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8%;
  height: 16%;
}

.switcherPoint {
  padding: 7px 0;
  width: 110px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #eee;
  cursor: url(middle-finger-little.png), pointer;
}

.tableHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
}

.tableHeader div {
  text-align: center;
  width: 16%;
}

.tableHeader :first-child {
  text-align: center;
  width: 4%;
}

.tableHeader :nth-child(2) {
  text-align: center;
  width: 25%;
}

.tableHeader :nth-child(3) {
  text-align: center;
  width: 25%;
}

.tableHeader :last-child {
  text-align: center;
  width: 7%;
}

.tableHeader :nth-child(6) {
  text-align: center;
  width: 7%;
}

.tableRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eee;
  border-bottom: 1px solid lightgrey;
}

.tableRow div {
  text-align: center;
  width: 16%;
}

.tableRow :first-child {
  text-align: center;
  width: 4%;
}

.tableRow :nth-child(2) {
  text-align: center;
  width: 25%;
}

.tableRow :nth-child(3) {
  text-align: center;
  width: 25%;
}

.tableRow :last-child {
  text-align: center;
  width: 7%;
}

.tableRow :nth-child(6) {
  text-align: center;
  width: 7%;
}
/*# sourceMappingURL=Switcher.module.css.map */