.gmapContainer {
  height: calc(100vh - 60px);
  width: calc(100% - 280px);
}
.gmapFilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: rgb(27,29,40);
  padding: 5px;
  .addressField {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    div {
      color: rgb(183,183,185);
      padding: 0px 20px;
    }
    .input {
      padding: 6px 10px;
      border-radius: 4px;
    }
  }
  span {
    background-color: rgb(142, 231, 161);
    margin-left: 20px;
    padding: 3px 10px;
  }
}

span {
  cursor: pointer;
  color: black;
  border-radius: 4px;
  font-size: 16px;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 18px;
  background-color: rgb(142, 231, 161);
  border: 2px solid #fff;
  border-radius: 5px;
  user-select: none;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  .percent {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 30px;
    height: 18px;
    background-color: lightgray;
    border: 2px solid #fff;
    border-radius: 5px;
    user-select: none;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &:hover {
    z-index: 1;
  }
  .modal2 {
    display: none;
    margin-left: -100px;
    padding: 7px; 
    background-color: #eee;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    text-align: start;
    border-radius: 8px;
    a {
      color: black;
      .modalContainer {
        display: flex;
        justify-content: space-between;
        padding: 5px;
      }
      .stationName {
        padding-top: 5px;
        font-size: 14px;
      }
      .iconContainer {
        font-size: 26px;
      }
    }
  }
  .modal {
    display:none;
    margin-left: -100px;
    padding: 7px; 
    background-color: #eee;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    border-radius: 8px;
    .modalContainer {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    .stationName {
      padding-top: 5px;
      font-size: 14px;
    }
    .iconContainer {
      font-size: 26px;
    }
  }
}

.marker:hover .modal2 {
  display:block;
  position:absolute;
  top:20px;
  z-index: 1001;
  width: 250px;
}
.marker:hover .modal {
  display:block;
  position:absolute;
  top:-60px;
  z-index: 1001;
  width: 250px;
}
