.gmapContainer {
  height: 100vh;
  width: calc(100% - 280px);
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 34px;
  // height: 50px;
  width: 18px;
  height: 18px;
  // background: url('./vector.svg');
  background-color: rgb(18, 224, 63);
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
  }
  .modal {
    display:none;
    margin-left: -100px;
    padding: 7px; 
    background-color: #eee;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    // height: 80px;
    border-radius: 8px;
    .modalContainer {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    .stationName {
      padding-top: 5px;
      font-size: 14px;
    }
    .iconContainer {
      font-size: 26px;
    }
  }
}

.marker:hover .modal {
  display:block;
  position:absolute;
  top:20px;
  z-index: 1001;
  width: 250px;
}

// i {
//   color: rgb(204, 201, 201);
// }